.timeline__experience {
  background: #f5eada;
}

.timeline__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.timeline__subtitle {
  color: tan;
  margin: 5px 0;
}

.timeline__date {
  color: rgb(150, 150, 150);
}

.timeline__text {
  color: rgb(150, 150, 150);
  font-weight: 200;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.timeline__tag {
  color: #7a7a7a;
  background: #f5f5f5;
  border: 1px solid #dbdbdb;
  border-radius: 50px;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-right: 4px;
  padding: 0.5em 1em;
}
